<section class="findteachertab pt-5">

  <div class="findteacherheading">
      <div class="container">
          <div class="mainheading text-left">

              <h1 class="maintext ">Book your lesson 1
              </h1>
              <span><svg width="73" height="4" viewBox="0 0 73 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <line x1="2" y1="2" x2="48" y2="2" stroke="#28AAE1" stroke-width="4" stroke-linecap="round">
                      </line>
                      <line x1="65" y1="2" x2="71" y2="2" stroke="#28AAE1" stroke-width="4"
                          stroke-linecap="round">
                      </line>
                  </svg>
              </span>
              <p>All tracks are flexible and can be changed / switched between the different study tracks without
                  obligation</p>
          </div>
      </div>
  </div>
 
  <div class="profiletabsec modaldate ">
      <div class="container">
          <div class="myprofiledetails bookless">
              <div class="modal-body">
                <!-- <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation" *ngFor="let item of result">
                        <button [ngClass]="[item === selectdate ? 'nav-link active' : 'nav-link']" id="pills-day-tab"
                            data-bs-toggle="pill" data-bs-target="#pills-day" type="button" role="tab"
                            aria-controls="pills-day" aria-selected="true" (click)="selectDate(item)">
                            <span>{{item | date:"MMM"}}</span>
                            <h3>{{item | date:"d"}}</h3>
                            <p>{{item | date:"EEEE"}}</p>
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-day6-tab" data-bs-toggle="pill" data-bs-target="#pills-day6"
                            type="button" role="tab" aria-controls="pills-day6" aria-selected="false">
                            <span (click)="Last7Days(5)">See More</span>
                        </button>
                    </li>
                </ul>
                <div class="tag">
                    <p>To set a Free trial class without the need for your credit card details.please choose a
                        time
                        that
                        is convenient for you.</p>
                </div>
                  <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="0-day" role="tabpanel" aria-labelledby="pills-day-tab">
                        <ul class="timeselect">
                            <span *ngFor="let item of unicresponseSlot">
                                <li [ngClass]="[item === selectdat ? 'active' : '']"><a (click)="selectSlot(item)">
                                        {{item | date:"HH:mm"}}</a></li>
                            </span>
                        </ul>
                    </div>
                </div> -->
                  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                      <li class="nav-item" role="presentation">
                          <button class="nav-link active" id="pills-day-tab" data-bs-toggle="pill"
                              data-bs-target="#pills-day" type="button" role="tab" aria-controls="pills-day"
                              aria-selected="true">
                              <span>Jan</span>
                              <h3>06</h3>
                              <p>Thursday</p>
                          </button>
                      </li>
                      <li class="nav-item" role="presentation">
                          <button class="nav-link" id="pills-day2-tab" data-bs-toggle="pill"
                              data-bs-target="#pills-day2" type="button" role="tab" aria-controls="pills-day2"
                              aria-selected="false"> <span>Jan</span>
                              <h3>07</h3>
                              <p>Friday</p>
                          </button>
                      </li>
                      <li class="nav-item" role="presentation">
                          <button class="nav-link" id="pills-day3-tab" data-bs-toggle="pill"
                              data-bs-target="#pills-day3" type="button" role="tab" aria-controls="pills-day3"
                              aria-selected="false">
                              <span>Jan</span>
                              <h3>08</h3>
                              <p>Saturday</p>
                          </button>
                      </li>
                      <li class="nav-item" role="presentation">
                          <button class="nav-link " id="pills-day4-tab" data-bs-toggle="pill"
                              data-bs-target="#pills-day4" type="button" role="tab" aria-controls="pills-day4"
                              aria-selected="true">
                              <span>Jan</span>
                              <h3>09</h3>
                              <p>Sunday</p>
                          </button>
                      </li>
                      <li class="nav-item" role="presentation">
                          <button class="nav-link" id="pills-day5-tab" data-bs-toggle="pill"
                              data-bs-target="#pills-day5" type="button" role="tab" aria-controls="pills-day5"
                              aria-selected="false"> <span>Jan</span>
                              <h3>10</h3>
                              <p>Monday</p>
                          </button>
                      </li>
                      <li class="nav-item" role="presentation">
                          <button class="nav-link" id="pills-day6-tab" data-bs-toggle="pill"
                              data-bs-target="#pills-day6" type="button" role="tab" aria-controls="pills-day6"
                              aria-selected="false">
                              <span>Jan</span>
                              <h3>11</h3>
                              <p>Tuesday</p>
                          </button>
                      </li>
                      <li class="nav-item" role="presentation">
                          <button class="nav-link " id="pills-day7-tab" data-bs-toggle="pill"
                              data-bs-target="#pills-day7" type="button" role="tab" aria-controls="pills-day7"
                              aria-selected="true">
                              <span>Jan</span>
                              <h3>12</h3>
                              <p>Wendesday</p>
                          </button>
                      </li>
                      <li class="nav-item" role="presentation">
                          <button class="nav-link" id="pills-day8-tab" data-bs-toggle="pill"
                              data-bs-target="#pills-day8" type="button" role="tab" aria-controls="pills-day8"
                              aria-selected="false"> <span>Jan</span>
                              <h3>07</h3>
                              <p>Friday</p>
                          </button>
                      </li>

                  </ul>

                  <!-- <div class="tag">
                      <p>To set a Free trial class without the need for your credit card details.please choose a
                          time
                          that
                          is convenient for you.</p>
                  </div> -->
                  <div class="tab-content" id="pills-tabContent">
                      <div class="tab-pane fade show active" id="pills-day" role="tabpanel"
                          aria-labelledby="pills-day-tab">
                          <ul class="timeselect">
                              <li><a href="javascript:void(0)">11:00</a></li>
                              <li><a href="javascript:void(0)">11:30</a></li>
                              <li><a href="javascript:void(0)">12:00</a></li>
                              <li><a href="javascript:void(0)">12:30</a></li>
                              <li><a href="javascript:void(0)">13:30</a></li>
                              <li><a href="javascript:void(0)">16:30</a></li>
                              <li><a href="javascript:void(0)">17:00</a></li>
                              <li><a href="javascript:void(0)">17:30</a></li>
                              <li><a href="javascript:void(0)">18:00</a></li>
                              <li><a href="javascript:void(0)">19:00</a></li>
                              <li><a href="javascript:void(0)">19:30</a></li>
                              <li><a href="javascript:void(0)">20:00</a></li>
                              <li><a href="javascript:void(0)">20:30</a></li>
                              <li><a href="javascript:void(0)">21:00</a></li>
                              <li><a href="javascript:void(0)">21:30</a></li>
                              <li><a href="javascript:void(0)">22:30</a></li>
                              <li><a href="javascript:void(0)">23:30</a></li>
                          </ul>
                      </div>
                      <div class="tab-pane fade" id="pills-day2" role="tabpanel" aria-labelledby="pills-day2-tab">
                          <ul class="timeselect">
                              <li><a href="javascript:void(0)">11:00</a></li>
                              <li><a href="javascript:void(0)">11:30</a></li>
                              <li><a href="javascript:void(0)">12:00</a></li>
                              <li><a href="javascript:void(0)">12:30</a></li>
                              <li><a href="javascript:void(0)">13:30</a></li>
                              <li><a href="javascript:void(0)">16:30</a></li>
                              <li><a href="javascript:void(0)">17:00</a></li>
                              <li><a href="javascript:void(0)">17:30</a></li>
                              <li><a href="javascript:void(0)">18:00</a></li>
                              <li><a href="javascript:void(0)">19:00</a></li>
                              <li><a href="javascript:void(0)">19:30</a></li>
                              <li><a href="javascript:void(0)">20:00</a></li>
                              <li><a href="javascript:void(0)">20:30</a></li>
                              <li><a href="javascript:void(0)">21:00</a></li>
                              <li><a href="javascript:void(0)">21:30</a></li>
                              <li><a href="javascript:void(0)">22:30</a></li>
                              <li><a href="javascript:void(0)">23:30</a></li>
                          </ul>
                      </div>
                      <div class="tab-pane fade" id="pills-day3" role="tabpanel" aria-labelledby="pills-day3-tab">
                          <ul class="timeselect">
                              <li><a href="javascript:void(0)">11:00</a></li>
                              <li><a href="javascript:void(0)">11:30</a></li>
                              <li><a href="javascript:void(0)">12:00</a></li>
                              <li><a href="javascript:void(0)">12:30</a></li>
                              <li><a href="javascript:void(0)">13:30</a></li>
                              <li><a href="javascript:void(0)">16:30</a></li>
                              <li><a href="javascript:void(0)">17:00</a></li>
                              <li><a href="javascript:void(0)">17:30</a></li>
                              <li><a href="javascript:void(0)">18:00</a></li>
                              <li><a href="javascript:void(0)">19:00</a></li>
                              <li><a href="javascript:void(0)">19:30</a></li>
                              <li><a href="javascript:void(0)">20:00</a></li>
                              <li><a href="javascript:void(0)">20:30</a></li>
                              <li><a href="javascript:void(0)">21:00</a></li>
                              <li><a href="javascript:void(0)">21:30</a></li>
                              <li><a href="javascript:void(0)">22:30</a></li>
                              <li><a href="javascript:void(0)">23:30</a></li>
                          </ul>
                      </div>
                      <div class="tab-pane fade" id="pills-day4" role="tabpanel" aria-labelledby="pills-day4-tab">
                          <ul class="timeselect">
                              <li><a href="javascript:void(0)">11:00</a></li>
                              <li><a href="javascript:void(0)">11:30</a></li>
                              <li><a href="javascript:void(0)">12:00</a></li>
                              <li><a href="javascript:void(0)">12:30</a></li>
                              <li><a href="javascript:void(0)">13:30</a></li>
                              <li><a href="javascript:void(0)">16:30</a></li>
                              <li><a href="javascript:void(0)">17:00</a></li>
                              <li><a href="javascript:void(0)">17:30</a></li>
                              <li><a href="javascript:void(0)">18:00</a></li>
                              <li><a href="javascript:void(0)">19:00</a></li>
                              <li><a href="javascript:void(0)">19:30</a></li>
                              <li><a href="javascript:void(0)">20:00</a></li>
                              <li><a href="javascript:void(0)">20:30</a></li>
                              <li><a href="javascript:void(0)">21:00</a></li>
                              <li><a href="javascript:void(0)">21:30</a></li>
                              <li><a href="javascript:void(0)">22:30</a></li>
                              <li><a href="javascript:void(0)">23:30</a></li>
                          </ul>
                      </div>
                      <div class="tab-pane fade" id="pills-day5" role="tabpanel" aria-labelledby="pills-day5-tab">
                          <ul class="timeselect">
                              <li><a href="javascript:void(0)">11:00</a></li>
                              <li><a href="javascript:void(0)">11:30</a></li>
                              <li><a href="javascript:void(0)">12:00</a></li>
                              <li><a href="javascript:void(0)">12:30</a></li>
                              <li><a href="javascript:void(0)">13:30</a></li>
                              <li><a href="javascript:void(0)">16:30</a></li>
                              <li><a href="javascript:void(0)">17:00</a></li>
                              <li><a href="javascript:void(0)">17:30</a></li>
                              <li><a href="javascript:void(0)">18:00</a></li>
                              <li><a href="javascript:void(0)">19:00</a></li>
                              <li><a href="javascript:void(0)">19:30</a></li>
                              <li><a href="javascript:void(0)">20:00</a></li>
                              <li><a href="javascript:void(0)">20:30</a></li>
                              <li><a href="javascript:void(0)">21:00</a></li>
                              <li><a href="javascript:void(0)">21:30</a></li>
                              <li><a href="javascript:void(0)">22:30</a></li>
                              <li><a href="javascript:void(0)">23:30</a></li>
                          </ul>
                      </div>
                      <div class="tab-pane fade" id="pills-day6" role="tabpanel" aria-labelledby="pills-day6-tab">
                          <ul class="timeselect">
                              <li><a href="javascript:void(0)">11:00</a></li>
                              <li><a href="javascript:void(0)">11:30</a></li>
                              <li><a href="javascript:void(0)">12:00</a></li>
                              <li><a href="javascript:void(0)">12:30</a></li>
                              <li><a href="javascript:void(0)">13:30</a></li>
                              <li><a href="javascript:void(0)">16:30</a></li>
                              <li><a href="javascript:void(0)">17:00</a></li>
                              <li><a href="javascript:void(0)">17:30</a></li>
                              <li><a href="javascript:void(0)">18:00</a></li>
                              <li><a href="javascript:void(0)">19:00</a></li>
                              <li><a href="javascript:void(0)">19:30</a></li>
                              <li><a href="javascript:void(0)">20:00</a></li>
                              <li><a href="javascript:void(0)">20:30</a></li>
                              <li><a href="javascript:void(0)">21:00</a></li>
                              <li><a href="javascript:void(0)">21:30</a></li>
                              <li><a href="javascript:void(0)">22:30</a></li>
                              <li><a href="javascript:void(0)">23:30</a></li>
                          </ul>
                      </div>
                      <div class="tab-pane fade" id="pills-day7" role="tabpanel" aria-labelledby="pills-day7-tab">
                          <ul class="timeselect">
                              <li><a href="javascript:void(0)">11:00</a></li>
                              <li><a href="javascript:void(0)">11:30</a></li>
                              <li><a href="javascript:void(0)">12:00</a></li>
                              <li><a href="javascript:void(0)">12:30</a></li>
                              <li><a href="javascript:void(0)">13:30</a></li>
                              <li><a href="javascript:void(0)">16:30</a></li>
                              <li><a href="javascript:void(0)">17:00</a></li>
                              <li><a href="javascript:void(0)">17:30</a></li>
                              <li><a href="javascript:void(0)">18:00</a></li>
                              <li><a href="javascript:void(0)">19:00</a></li>
                              <li><a href="javascript:void(0)">19:30</a></li>
                              <li><a href="javascript:void(0)">20:00</a></li>
                              <li><a href="javascript:void(0)">20:30</a></li>
                              <li><a href="javascript:void(0)">21:00</a></li>
                              <li><a href="javascript:void(0)">21:30</a></li>
                              <li><a href="javascript:void(0)">22:30</a></li>
                              <li><a href="javascript:void(0)">23:30</a></li>
                          </ul>
                      </div>
                      <div class="tab-pane fade" id="pills-day8" role="tabpanel" aria-labelledby="pills-day8-tab">
                          <ul class="timeselect">
                              <li><a href="javascript:void(0)">11:00</a></li>
                              <li><a href="javascript:void(0)">11:30</a></li>
                              <li><a href="javascript:void(0)">12:00</a></li>
                              <li><a href="javascript:void(0)">12:30</a></li>
                              <li><a href="javascript:void(0)">13:30</a></li>
                              <li><a href="javascript:void(0)">16:30</a></li>
                              <li><a href="javascript:void(0)">17:00</a></li>
                              <li><a href="javascript:void(0)">17:30</a></li>
                              <li><a href="javascript:void(0)">18:00</a></li>
                              <li><a href="javascript:void(0)">19:00</a></li>
                              <li><a href="javascript:void(0)">19:30</a></li>
                              <li><a href="javascript:void(0)">20:00</a></li>
                              <li><a href="javascript:void(0)">20:30</a></li>
                              <li><a href="javascript:void(0)">21:00</a></li>
                              <li><a href="javascript:void(0)">21:30</a></li>
                              <li><a href="javascript:void(0)">22:30</a></li>
                              <li><a href="javascript:void(0)">23:30</a></li>
                          </ul>
                      </div>
                  </div>
              </div>

              <button (click)="registration()" class="btn btn-primary">Book your lesson</button>
          </div>

      </div>
  </div>
</section>
<mat-spinner *ngIf="Loader" class="mat-spinner-color"></mat-spinner>